body {
  background: url("../images/burgerBackground3.png");
  height: 100px;
  width: 100%;
}

#top {
  background: url("../images/eating.gif");
  background-size:cover;
  height: 380px;
  width: 80%;
  margin-top:2%;
  margin-bottom:2%
}
.devour{
  margin-left: 2%;
}

.bg-warning {
  background-color: #ff8b07!important;
}